doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Stream Leaf
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', type='text/javascript')
    link(rel="stylesheet", href="css/style.css")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet prefetch', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js')
  body
    #overlay
    header
      h1
        | Stream
        span Leaf
    section
      .container
        article
          .box
            img(src='https://goo.gl/ZKZzAV', alt='')
          .box
            h2 Juno
            p
              | When precocious teen Juno MacGuff (Ellen Page) becomes pregnant, she chooses a failed rock star and his wife (Jennifer Garner) to adopt her unborn child. Complications occur when Mark, the prospective father, begins viewing Juno as more than just the mother of his future child, putting both his marr...
            h3
              a(href='/play/5465')
                | Play 
                i.fa.fa-play
        article
          .box
            img(src='https://goo.gl/SqjKZq', alt='')
          .box
            h2 HP Origins
            p
              | The company was founded in a one-car garage in Palo Alto by William "Bill" Redington Hewlett and David "Dave" Packard, and initially produced a line of electronic test equipment....
            h3
              a(href='/play/5879')
                | Play 
                i.fa.fa-play
        article
          .box
            img(src='https://goo.gl/wCQT8Z', alt='')
          .box
            h2 Fight Club
            p
              | A depressed man (Edward Norton) suffering from insomnia meets a strange soap salesman named Tyler Durden (Brad Pitt) and soon finds himself living in his squalid house after his perfect apartment is destroyed. The two bored men form an underground club with strict rules and fight other men who are f...
            h3
              a(href='/play/2587')
                | Play 
                i.fa.fa-play
        article
          .box
            img(src='https://goo.gl/rsenaK', alt='')
          .box
            h2 Fantastic Beasts and Where to Find Them
            p
              | The year is 1926, and Newt Scamander (Eddie Redmayne) has just completed a global excursion to find and document an extraordinary array of magical creatures. Arriving in New York for a brief stopover, he might have come and gone without incident, were it not for a No-Maj (American for Muggle) named...
            h3
              a(href='/play/1478')
                | Play 
                i.fa.fa-play
        article
          .box
            img(src='https://goo.gl/nso3hN', alt='')
          .box
            h2 Chappy
            p
              | In the near future, a mechanized police force patrols the streets and deals with lawbreakers -- but now, the people are fighting back. When one police droid is stolen and given new programming, he acquires the ability to feel and think for himself. While the robot, dubbed "Chappie (Sharlto Copley),"...
            h3
              a(href='/play/3698')
                | Play 
                i.fa.fa-play
        article
          .box
            img(src='https://goo.gl/Ht2wZx', alt='')
          .box
            h2 Jurassic World
            p
              | Located off the coast of Costa Rica, the Jurassic World luxury resort provides a habitat for an array of genetically engineered dinosaurs, including the vicious and intelligent Indominus rex. When the massive creature escapes, it sets off a chain reaction that causes the other dinos to run amok. Now...
            h3
              a(href='/play/2798')
                | Play 
                i.fa.fa-play
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
    script(src='/js/index.js')
